@import "~@blueprintjs/core/src/blueprint";

.sidebar {
  background-color: $light-gray4;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.38);

  :global {
    .bp3-tree-node-label {
      a {
        display: inline-block;
        line-height: 30px;
        width: 100%;
        text-decoration: none;
        color: #5c7080;
      }
    }
  }
}
