html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f7f8f9;
}

#root {
  position: relative;
  user-select: none;
}

ul,
li {
  margin: 0;
}

.height100 {
  height: 100%;
}
